{% extends "backbone_game.html" %}

{% block body %}

  <section class="section">
    <div id="gameContainer" style="width: 1280px; height: 720px; margin: auto"></div>
  </section>

  <section class="section section-game">

    <div class="current-game">
      <span class="header">현재 경기</span>
      <span class="current-game-information"></span>
    </div>

  </section>

  <script type="text/javascript">
    
    var match_set_id = {% if match_set %}'{{ match_set.id }}'{% else %}null{% endif %};
    var tournament_id = {% if tournament %}'{{ tournament.id }}'{% else %}null{% endif %};
    var undisclosed_clickable = {{ current_user.is_authenticated and current_user.moderator | tojson }};


    $(document).ready(function() {
      
    });
    
    document.unityPlayerReady = function() {
      if (match_set_id)
        var url = '/match_sets/' + match_set_id + '/tree';
      else
        var url = '/tournaments/' + tournament_id + '/tree';

      $.ajax({
        url: url,
        method: 'GET',
        success: function(data) {
          updateMatchTree(data.tree);
        },
        error: function(jqxhr, textStatus, errorThrown) {
          alert('서버 오류가 발생했습니다: ' + textStatus);
        }
      });
    }

    document.matchFinished = function() {
      
    }

    document.discloseMatch = function(uuid) {
      $.ajax({
        url: '/matches/' + uuid + '/disclose',
        method: 'POST',
        success: function(data) {
          updateMatchTree(data.tree);
        },
        error: function(jqxhr, textStatus, errorThrown) {
          alert('서버 오류가 발생했습니다: ' + textStatus);
        }
      });
    }

    function updateMatchTree(tree) {
      console.log(tree);
    }

    function startMatch(uuid, p1, p2, tier) {
      $('.current-game-information').html('(' + tier + ') <span class="player">' + p1 + '</span> VS <span class="player">' + p2 + '</span>');
      gameInstance.SendMessage('Controller', 'StartMatchByUuid', uuid);
    }

  </script>

{% endblock %}
