{% extends "backbone_game.html" %}

{% block body %}

  <section class="section">
    <div id="gameContainer" style="width: 1280px; height: 720px; margin: auto"></div>
  </section>

  <section class="section section-game">

    <div class="current-game">
      <span class="header">현재 경기</span>
      <span class="current-game-information"></span>
    </div>

    <div class="tournament">
      <div class="header">
        <h2 class="ttile">다른 경기 보기</h2>
        <a class="btn btn-default back" href="/">메인으로 돌아가기</a>
      </div>
      <div class="status">
      </div>
    </div>

  </section>

  <script type="text/javascript">
    
    var match_set_id = {% if match_set %}'{{ match_set.id }}'{% else %}null{% endif %};
    var tournament_id = {% if tournament %}'{{ tournament.id }}'{% else %}null{% endif %};
    var undisclosed_clickable = {{ (current_user.is_authenticated and current_user.moderator) | tojson }};


    $(document).ready(function() {
    });
    
    document.unityPlayerReady = function() {
      if (match_set_id)
        var url = '/match_sets/' + match_set_id + '/tree';
      else
        var url = '/tournaments/' + tournament_id + '/tree';

      $.ajax({
        url: url,
        method: 'GET',
        success: function(data) {
          updateMatchTree(data.tree);
        },
        error: function(jqxhr, textStatus, errorThrown) {
          alert('서버 오류가 발생했습니다: ' + textStatus);
        }
      });
    }

    document.matchFinished = function() {
    }

    document.discloseMatch = function(uuid) {
      $.ajax({
        url: '/matches/' + uuid + '/disclose',
        method: 'POST',
        success: function(data) {
          updateMatchTree(data.tree);
        },
        error: function(jqxhr, textStatus, errorThrown) {
        }
      });
    }

    function roundName(round) {
      return round >= 8 ? round + '강' : (round >= 4) ? '준결승' : '결승';
    }

    function updateMatchTree(tree) {
      var $tournament = $('.tournament .status');
      $tournament.empty();

      tree.map(match => {
        var round = roundName(match.round);
        var $match = $('<div class="match"></div>');
        var $round = $('<p class="round">'+ round +'</p>');
        var $player1 = $('<p class="player">' + (match.p1 ? match.p1 : '-') + '</p>');
        var $player2 = $('<p class="player">' + (match.p2 ? match.p2 : '-') + '</p>');
        var $show = $('<button class="btn btn-default show">경기 보기</button>');

        if (match.p1_group)
          $player1.prepend($('<span class="group">' + match.p1_group + '조 </span>'))
        if (match.p2_group)
          $player2.prepend($('<span class="group">' + match.p2_group + '조 </span>'))

        if (match.p1 && match.p2)
          var $winner = $('<span class="winner">WIN</span>');
        else
          var $winner = $('<span class="winner">부전승</span>');

        if (match.winner === null) {
          $player1.addClass('draw');
          $player2.addClass('draw');
        } else if (match.winner !== '?') {
          if (match.winner === match.p1)
            $player1.append($winner);
          else if (match.winner === match.p2)
            $player2.append($winner);
        }

        if ((undisclosed_clickable && match.winner === '?') || match.winner !== '?') {
          if (match.p1 && match.p2)
            $show.click(_ => { startMatch(match.id, match.p1, match.p2, match.round); });
          else
            $show.click(_ => { document.discloseMatch(match.id); });
        } else {
          $show.prop('disabled', true);
        }

        $match.append($round).append($player1).append('<p>vs</p>').append($player2).append($show);

        return $('<div class="status"></div>').append($match);
      }).forEach($matchEl => {
        $tournament.append($matchEl);
      });
    }

    function startMatch(uuid, p1, p2, round) {
      $('.current-game-information').html('(' + roundName(round) + ') <span class="player">' + p1 + '</span> VS <span class="player">' + p2 + '</span>');
      gameInstance.SendMessage('Controller', 'StartMatchByUuid', uuid);
      window.scrollTo(0, 0);
    }

  </script>

{% endblock %}
