{% extends "backbone.html" %}

{% block body %}
  <div class="topnav">
    <div class="brand-logo-wrap">
      <a href="/" class="brand-logo"></a>
    </div>
    <ul class="topnav-menus">
      <li>
        <a class="topnav-menu"
           href="#section-overview">도도 파이터?</a>
      </li>
      <li>
        <a class="topnav-menu"
           href="#section-rule">게임 규칙</a>
      </li>
      {% if current_user.is_authenticated %}
      <li>
        <a class="topnav-menu"
           href="{{ url_for('.playground') }}" target="_blank">플레이해보기</a>
      </li>
      {% endif %}
    </ul>
    <ul class="topnav-menus topnav-menus-right">
      <li id="topnav-login">
        {% if current_user.is_authenticated %}
          <div class="topnav-menu github-profile">
            {{ current_user.display_name }}님 <a class="log-out" href="{{ url_for('.logout') }}">로그아웃</a>
          </div>
        {% else %}
          <a class="topnav-menu login-menu" href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{ github_oauth_client_id }}">GitHub으로 로그인</a>
        {% endif %}
      </li>
    </ul>
  </div>
  <section class="section section-logo">
    <div class="dodofighter-logo-wrap">
      <img src="{{ url_for('static', filename='images/logo/dodofighter-logo.png') }}"
           srcset="{{ url_for('static', filename='images/logo/dodofighter-logo@2x.png') }} 2x,
                {{ url_for('static', filename='images/logo/dodofighter-logo@3x.png') }} 3x"
           class="dodofighter-logo">
      <p class="caption">
        평화로운 도도 포인트 마을. <br>
        체력왕 사장님은 과연 누가 될 것인가?
      </p>
      <a class="tournament-link"  href="#section-tournament"></a>
    </div>
  </section>
  <section class="section section-overview" id="section-overview">
    <img src="{{ url_for('static', filename='images/trophy.png')}}">
    <p class="overview">
      파이썬으로 인공지능 코드를 작성하여 다른 참가자와 겨루는
      인공지능 격투 대전 게임, 도도 파이터!
      여러분이 직접 작성한 코드로 인공지능을 움직이고
      무슨 행동을 할지 결정할 수 있습니다.
      지금 바로 도전해 보세요!
    </p>
  </section>
  <section class="section section-tournament" id="section-tournament">
    <h2 class="section-title">대회 참가 현황</h2>
    <p>코드 제출 기한 <span>2018년 8월 17일 09:00 - 2018년 8월 18일 16:00</span></p>

    <div class="card">
      {% if current_user.is_authenticated %}
        <div class="my-info">
          <img src="{{ current_user.avatar }}" class="avatar" />
          <p class="match-set">
            {% if submission and submission.match_item %}
              {{ submission.match_item.tournament_match_set.group_name }}
            {% else %}
              대기 중
            {% endif %}
          </p>
          <span class="status">
            <p class="display-name">{{ current_user.display_name }}</p>
            {% if submission %}
              <p class="submission">{{ submission.created_at.strftime('%Y-%m-%d %H:%m') }}에 제출</p>
            {% endif %}
          </span>
          {% if current_tournament %}
            {% if current_tournament.final_match %}
              <p>현재 토너먼트는 마감되었습니다.</p>
              <a class="btn btn-solid" href="{{ url_for('.game', tournament_id=current_tournament.id) }}">결과 보기</a>
            {% elif submission and submission.match_item %}
              <p>제출이 이미 토너먼트에 올라갔으므로 수정할 수 없습니다.</p>
            {% else %}
              <form action="{{ url_for('.submit', tournament_id=current_tournament.id) }}" method="POST" enctype="multipart/form-data" class="code-form">
                <input type="file" class="script code-script" style="display: none;" name="script" />
                <button class="btn btn-solid code-submit">코드 제출하기</button>
              </form>
            {% endif %}
          {% else %}
            <p>진행중인 토너먼트가 없습니다.</p>
          {% endif %}
        </div>
      {% else %}
      <div class="login-form">
        <p class="instruction">도도 파이터에 참가하시려면 GitHub로 로그인해주세요.</p>
        <a class="btn btn-default login-button" href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{ github_oauth_client_id }}">GitHub로 로그인</a>
      </div>
      {% endif %}
    </div>
  </section>
  <section class="section section-rule" id="section-rule">
    <h2 class="section-title">게임 규칙</h2>
    <ul class="instruction">
      <li>도도 파이터는 대전 격투 게임입니다.</li>
      <li>도도 파이터는 토너먼트 형식으로 운영됩니다.</li>
      <li>참가자들은 조 단위로 나누어집니다. 조 안에서 토너먼트를 통해 각 조의 우승자를 뽑습니다.</li>
      <li>제출 기한이 완료되면 다시 토너먼트를 통해 각 조의 우승자들 중에서 최종 우승자를 뽑습니다.</li>
      <li>조 구성은 수시로 이루어지며 운영 상황에 따라 유동적으로 정해질 수 있습니다.</li>
      <li>각 경기는 3판 2선승제입니다.</li>
      <li>경기는 턴제로 이루어지며, 경기당 총 30턴이 주어집니다. 매 턴마다 무슨 행동을 취할지를 결정하는 것이 AI의 역할입니다.</li>
      <li>AI를 조작하기 위하여 Python으로 에이전트 스크립트를 작성하게 됩니다. 에이전트의 작성 방법은 <a href="https://gist.github.com/segfault87/b9ccf17d682c5bcfa6a6b4bcae36856e">예제 코드</a>를 참고해 주세요.</li>
      <li>제출에 앞서서 <a href="{{ url_for('.playground') }}">코드를 테스트해보실 수 있습니다</a>.</li>
      <li>제출시에 코드 검사 절차가 있습니다. 가만히 있는 더미 에이전트를 상대로 이겨야 제출이 이루어집니다.</li>
      <li>모든 제출은 서버에 기록됩니다. 제출 시스템의 허점을 찾는 행위는 금지합니다.</li>
  </section>

  <script type="text/javascript">
    function setSubmitButtonStatus(e) {
      var submitButton = $('.code-form .code-submit');

      if (submitButton) {
        submitButton.prop('disabled', !e);
      }
    }

    function uploadFile(elem) {
      setSubmitButtonStatus(false);

      var formdata = new FormData(elem);
      $.ajax({
        url: "{{ url_for('.submit', tournament_id=current_tournament.id) }}",
        data: formdata,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function(data) {
          setSubmitButtonStatus(true);

          if (data.result == 'success') {
            location.reload();
          } else {
            if (data.error === 'no_file_input')
              alert('파일이 입력되지 않았습니다.');
            else if (data.error === 'error_in_code')
              alert('코드에 오류가 있습니다. 에러 메시지는 다음과 같습니다:\n\n' + data.output);
            else if (data.error === 'test_not_passed')
              alert('코드가 테스트를 통과하지 못했습니다.');
            else
              alert('오류가 발생했습니다: ' + data.error);

            $('.code-form .code-script').val('');
          }
        },
        error: function(jqhxr, textstatus, errorThrown) {
          setSubmitButtonStatus(true);
          alert('서버 오류가 발생했습니다: ' + textstatus);

          $('.code-form .code-script').val('');
        }
      });
    }

   $(document).ready(function() {
      var submitButton = $('.code-form .code-submit');
      var fileInput = $('.code-form .code-script')
      if (submitButton && fileInput) {
        fileInput.on('change', function(e) {
          if (fileInput.val())
            uploadFile($('.code-form')[0]);
        });

        submitButton.click(function() {
          fileInput.click();
          return false;
        });
      }
    })
  </script>
{% endblock %}


