<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css' ) }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="DodoFighter" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pycon-2018-dodo-fighter.spoqa.com/" />
    <meta property="og:description" content="Spoqa coding contest for Pycon Korea 2018" />
    <meta property="og:image" content="https://pycon-2018-dodo-fighter.spoqa.com/static/images/og_image.png" />
  </head>
  <body>
    <img src="{{ url_for('static', filename='images/logo/dodofighter-logo.png') }}"
         srcset="{{ url_for('static', filename='images/logo/dodofighter-logo@2x.png') }} 2x,
              {{ url_for('static', filename='images/logo/dodofighter-logo@3x.png') }} 3x"
         class="dodofighter-logo">
    <img src="{{ url_for('static', filename='images/hero-copy/img-hero-copy.png') }}"
         srcset="{{ url_for('static', filename='images/hero-copy/img-hero-copy@2x.png') }} 2x,
              {{ url_for('static', filename='images/hero-copy/img-hero-copy@3x.png') }} 3x"
         class="hero-copy" />
    <div class="instruction">
      <p class="instruction-title">도도 포인트 매장 체력왕은 과연 누가 될 것인가?</p>
      <p>아래 버튼을 통해 <strong>이메일 입력</strong> 시 <strong>도도 파이터 런칭 소식</strong>을 가장 빠르게 전달해드립니다.
      </p>
      <button onclick="{location.href='https://docs.google.com/forms/d/e/1FAIpQLSfzZnJB8XANZoTmOpsRzcE2vY22yV_250UFGx-c0OdIQs3O9w/viewform'}"
              class="instruction-button">
        출시 소식 가장 빨리 받기
      </button>
      <p>모든 게임 참여자: <strong>스포카 마우스 패드</strong></p>
      <p>우승자 &amp; 참신한 코드 작성자: <strong>해피 해킹 키보드 프로2</strong></p>
    </div>
  </body>
</html>
